<% error = @payment.errors.include?(:account_id) %>
<fieldset class='control-group <%= error ? 'has-error' : ''%>'>
  <%= f.label "Paying account", :class => 'control-label' %>
  <div class='controls'>
    <% @options_2 = Account.where(:role=> "student") %>
    <%= f.select :account_id, :collection => @options_2 , :fields  => [:name, :id],:class => 'form-control input-xlarge input-with-feedback' %>
    <span class='help-inline'><%= error ? f.error_message_on(:account_id) : "Select the student..." %></span>
  </div>
</fieldset>
<% error = @payment.errors.include?(:course_id) %>

<fieldset class='control-group <%= error ? 'has-error' : ''%>'>
  <%= f.label :course_id, :class => 'control-label' %>
  <div class='controls'>
    <% @options = Course.all %>
    <%= f.select :course_id, :collection => @options , :fields  => [:name, :id],:class => 'form-control input-xlarge input-with-feedback' %>
    <span class='help-inline'><%= error ? f.error_message_on(:course_id) : "The course the student is paying for..." %></span>
  </div>
</fieldset>
<% error = @payment.errors.include?(:payment_date) %>
<fieldset class='control-group <%= error ? 'has-error' : ''%>'>
  <%= f.label "Date of payment", :class => 'control-label' %>
  <div class='controls'>
    <%= f.text_field :payment_date, :class => 'form-control input-xlarge input-with-feedback' %>
    <span class='help-inline'><%= error ? f.error_message_on(:payment_date) : "...in the format yy-mm-dd..." %></span>
  </div>
</fieldset>
<% error = @payment.errors.include?(:amount) %>
<fieldset class='control-group <%= error ? 'has-error' : ''%>'>
  <%= f.label "Payment amount", :class => 'control-label' %>
  <div class='controls'>
    <%= f.text_field :amount, :class => 'form-control input-xlarge input-with-feedback' %>
    <span class='help-inline'><%= error ? f.error_message_on(:amount) : "...the amount the student has paid..." %></span>
  </div>
</fieldset>
<% error = @payment.errors.include?(:receipt_no) %>
<fieldset class='control-group <%= error ? 'has-error' : ''%>'>
  <%= f.label :receipt_no, :class => 'control-label' %>
  <div class='controls'>
    <%= f.text_field :receipt_no, :class => 'form-control input-xlarge input-with-feedback' %>
    <span class='help-inline'><%= error ? f.error_message_on(:receipt_no) : "...the receipt no. associated with the payment..." %></span>
  </div>
</fieldset>


<div class="form-actions">
  <%= f.submit pat(:save), :class => 'btn btn-primary' %>
  &nbsp;
  <%= f.submit pat(:save_and_continue), :class => 'btn btn-info', :name => 'save_and_continue' %>
  &nbsp;
  <%= link_to pat(:cancel), url(:payments, :index), :class => 'btn btn-default' %>
</div>